<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableDescription</key>
	<string>Mouse-Fun allows you to customize your cursor with fun designs and emojis.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Mouse-Fun needs permission to change the cursor appearance.</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>CFBundleName</key>
	<string>Mouse-Fun</string>
	<key>CFBundleDisplayName</key>
	<string>Mouse-Fun</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
